.errorMsg {
	color: red;
}

.successMsg {
	color: #ecb21f;
}

.message {
	font-size: 14px;
}

.center {
	text-align: center;
}

#not-found {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
	font-size: 35px;
}