<%- include("../includes/begin.ejs") %>
<link rel="stylesheet" href="css/posts.css" />
<link rel="stylesheet" href="css/base.css">
<body>
	<%- include("../includes/navbar.ejs")  %> 
	<h1 id="not-found">There a been a technical issue </br>We are working on it </h1>
</body>
<%- include("../includes/end.ejs") %>